In [2]:
import pandas as pd
import numpy as np

In [34]:
df = pd.DataFrame(
        {
         'Scores': [50, 80, 85, 75, 95, 109],
         'Position': ['Goalkeeper', 'Striker', 'Midfielder', 'Striker', 'Winger', 'Goalkeeper'],
         'is_Active': [True, False, False, True, False, True]
        }, index = ['Player1', 'Player2', 'Player3', 'Player4', 'Player5', 'Player6']
        )
df

         Scores    Position  is_Active
Player1      50  Goalkeeper       True
Player2      80     Striker      False
Player3      85  Midfielder      False
Player4      75     Striker       True
Player5      95      Winger      False
Player6     109  Goalkeeper       True

In [35]:
df.loc['Player1': 'Player3', 'Position']

Player1    Goalkeeper
Player2       Striker
Player3    Midfielder
Name: Position, dtype: object

In [36]:
df.loc[(df['Scores'] > 75) & (df['is_Active'] == True)]

         Scores    Position  is_Active
Player6     109  Goalkeeper       True

In [37]:
df.loc[lambda df: df['Position'] == 'Goalkeeper']

         Scores    Position  is_Active
Player1      50  Goalkeeper       True
Player6     109  Goalkeeper       True

In [40]:
df.loc[['Player1', 'Player2'], ['Scores']] += 5
df

         Scores    Position  is_Active
Player1      55  Goalkeeper       True
Player2      85     Striker      False
Player3      85  Midfielder      False
Player4      75     Striker       True
Player5      95      Winger      False
Player6     109  Goalkeeper       True

In [52]:
print(f"Maximum value in df: {df['Scores'].max()}")
print(f"Minimum value in df: {df['Scores'].min()}")
print(f"Median value in df: {df['Scores'].median()}")
print(f"Average value in df: {df['Scores'].mean()}")
print(f"Standart deviation in df: {df['Scores'].std()}")

Maximum value in df: 109
Minimum value in df: 55
Median value in df: 85.0
Average value in df: 84.0
Standart deviation in df: 18.275666882497067