In [99]:
import pandas as pd
import numpy as np

In [100]:
df = pd.DataFrame(
        {
         'Scores': [50, 80, 85, 75, 95, 109],
         'Position': ['GoalKeeper', 'Striker', 'Midfielder', 'Striker', 'Winger', 'Goalkeeper'],
         'is_Active': [True, False, False, True, False, True]
        }, index = ['Player1', 'Player2', 'Player3', 'Player4', 'Player5', 'Player6']
        )
df

         Scores    Position  is_Active
Player1      50  GoalKeeper       True
Player2      80     Striker      False
Player3      85  Midfielder      False
Player4      75     Striker       True
Player5      95      Winger      False
Player6     109  Goalkeeper       True

In [101]:
df.loc['Player1': 'Player3', 'Position']

Player1    GoalKeeper
Player2       Striker
Player3    Midfielder
Name: Position, dtype: object

In [102]:
df.loc[(df['Scores'] > 75) & (df['is_Active'] == True)]

         Scores    Position  is_Active
Player6     109  Goalkeeper       True